%header.text-center
  %h1 Open Vagas
  %p Mural de vagas compartilhadas pela comunidade.


%form 
  .row 
    .col-sm   
      %label Carreira
      %input.form-control{:placeholder => "First name", :type => "text"}/  
    .col-sm
      %label Localização
      %input.form-control{:placeholder => "Last name", :type => "text",}/
    .col-sm
      %label Local de trabalho
      %input.form-control{:placeholder => "Last name", :type => "text"}/
    .col-sm
      %button.btn.btn-danger{:type => "submit", style: "margin-top: 24px"} Pesquisar

.card.card-position 
  .card-body
    .container.container-card
      .row 
        .col-2
          %img.img-fluid.rounded-circle{:src => "https://github.com/andradeveras.png", :alt => "Imagem de perfil"}
        .col-10
          %h4 Suporte de TI - Estagiário
          %h5 Desenvolvedor Web - Rio de Janeiro - RJ
          %p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptates deleniti quisquam odio esse natus voluptatem odit pariatur, consequatur blanditiis provident totam soluta aut quis? Debitis maiores nostrum distinctio voluptatum animi.
          .row 
            .col-sm.mt-3 
              %button.btn.btn-danger{:type => "button"} Ver mais
              %button.btn.btn-success{:type => "button"} Aplicar 
            .col-sm.text-right.mt-3.group-social-network 
              = link_to image_tag('social-network/whatsapp.svg', alt: 'Whatsapp'), '#'
              = link_to image_tag('social-network/linkedin.svg', alt: 'Linkedin'), '#'
              = link_to image_tag('social-network/twitter.svg', alt: 'Twitter'), '#'
              = link_to image_tag('social-network/copy.svg', alt: 'Copy', class: 'share-copy-icon'), '#'
              .card-body
    .container.container-card
      .row 
        .col-2
          %img.img-fluid.rounded-circle{:src => "https://github.com/andradeveras.png", :alt => "Imagem de perfil"}
        .col-10
          %h4 Suporte de TI - Estagiário
          %h5 Desenvolvedor Web - Rio de Janeiro - RJ
          %p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptates deleniti quisquam odio esse natus voluptatem odit pariatur, consequatur blanditiis provident totam soluta aut quis? Debitis maiores nostrum distinctio voluptatum animi.
          .row 
            .col-sm.mt-3 
              %button.btn.btn-danger{:type => "button"} Ver mais
              %button.btn.btn-success{:type => "button"} Aplicar 
            .col-sm.text-right.mt-3.group-social-network 
              = link_to image_tag('social-network/whatsapp.svg', alt: 'Whatsapp'), '#'
              = link_to image_tag('social-network/linkedin.svg', alt: 'Linkedin'), '#'
              = link_to image_tag('social-network/twitter.svg', alt: 'Twitter'), '#'
              = link_to image_tag('social-network/copy.svg', alt: 'Copy', class: 'share-copy-icon'), '#'
      

%p.d-block.text-center.mt-3
  %a{:href => "#" } Paginação